<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>vm.rest.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskRest</servlet-name>
        <servlet-class>vm.rest.TaskRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRest</servlet-name>
        <servlet-class>vm.rest.UserRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryRest</servlet-name>
        <servlet-class>vm.rest.CategoryRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponsibilityRest</servlet-name>
        <servlet-class>vm.rest.ResponsibilityRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssigneeRest</servlet-name>
        <servlet-class>vm.rest.AssigneeRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentRest</servlet-name>
        <servlet-class>vm.rest.CommentRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagRest</servlet-name>
        <servlet-class>vm.rest.TagRest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/api/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskRest</servlet-name>
        <url-pattern>/rest/task/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRest</servlet-name>
        <url-pattern>/rest/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryRest</servlet-name>
        <url-pattern>/rest/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponsibilityRest</servlet-name>
        <url-pattern>/rest/responsibility/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssigneeRest</servlet-name>
        <url-pattern>/rest/assignee/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentRest</servlet-name>
        <url-pattern>/rest/comment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagRest</servlet-name>
        <url-pattern>/rest/tag/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
