<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>suggestion</servlet-name>
        <servlet-class>progin3.suggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTask</servlet-name>
        <servlet-class>progin3.addTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskName</servlet-name>
        <servlet-class>progin3.getTaskName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskStatus</servlet-name>
        <servlet-class>progin3.getTaskStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskDeadline</servlet-name>
        <servlet-class>progin3.getTaskDeadline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskAssignees</servlet-name>
        <servlet-class>progin3.getTaskAssignees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskTags</servlet-name>
        <servlet-class>progin3.getTaskTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskAttachments</servlet-name>
        <servlet-class>progin3.getTaskAttachments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskComments</servlet-name>
        <servlet-class>progin3.getTaskComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTaskComment</servlet-name>
        <servlet-class>progin3.addTaskComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delTaskComment</servlet-name>
        <servlet-class>progin3.delTaskComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delTask</servlet-name>
        <servlet-class>progin3.delTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTask</servlet-name>
        <servlet-class>progin3.editTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskCreator</servlet-name>
        <servlet-class>progin3.getTaskCreator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAssigneesId</servlet-name>
        <servlet-class>progin3.getAssigneesId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskAssigneeWithoutCreator</servlet-name>
        <servlet-class>progin3.getTaskAssigneeWithoutCreator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAttachments</servlet-name>
        <servlet-class>progin3.UploadAttachments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>suggestion</servlet-name>
        <url-pattern>/suggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTask</servlet-name>
        <url-pattern>/addTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskName</servlet-name>
        <url-pattern>/getTaskName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskStatus</servlet-name>
        <url-pattern>/getTaskStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskDeadline</servlet-name>
        <url-pattern>/getTaskDeadline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskAssignees</servlet-name>
        <url-pattern>/getTaskAssignees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskTags</servlet-name>
        <url-pattern>/getTaskTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskAttachments</servlet-name>
        <url-pattern>/getTaskAttachments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskComments</servlet-name>
        <url-pattern>/getTaskComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTaskComment</servlet-name>
        <url-pattern>/addTaskComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delTaskComment</servlet-name>
        <url-pattern>/delTaskComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delTask</servlet-name>
        <url-pattern>/delTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTask</servlet-name>
        <url-pattern>/editTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskCreator</servlet-name>
        <url-pattern>/getTaskCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAssigneesId</servlet-name>
        <url-pattern>/getAssigneesId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskAssigneeWithoutCreator</servlet-name>
        <url-pattern>/getTaskAssigneeWithoutCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAttachments</servlet-name>
        <url-pattern>/UploadAttachments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
